- name: Touch a kubelet
  file:
    path: /etc/default/kubelet
    state: touch
    mode: u=rw,g=r,o=r

- name: Configure node ip
  lineinfile:
    path: /etc/default/kubelet
    line: KUBELET_EXTRA_ARGS=--node-ip={{ node_ip }}
    
- name: Restart kubelet
  service:
    name: kubelet
    daemon_reload: yes
    state: restarted