---
- name: Set hostname of managed machine
  hosts: all
  become: yes
  gather_facts: true
  tasks:
    - name: Set hostname
      hostname:
        name: u1
      notify: Display hostname
      when: ansible_facts['hostname'] == "u1" 

  handlers:
    - include: "handlers/display_hostname.yaml"
    - include: "handlers/debug_handler.yaml"